@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url("images/mahabharat.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

#read-btn  {
    background: #FDD48E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

#read-btn a {
    text-decoration: none;
}

#read-btn a:hover {
    text-decoration: none;
    color: #ffffff;
}


.main-content {
    position: absolute;
    top: -175px;
    left: -130px;
}

.main-content h1 {
    position: absolute;
    width: 900px;
    height: 73px;
    left: 420px;
    top: 340px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    color: #454343;
}

.prompt-section .prompt {
    position: absolute;
    width: 717px;
    height: 80px;
    left: 400px;
    top: 450px;
    background: #FDD48E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    font-family: 'Inter';
    font-weight: 300;
    padding: 20px;
    font-size: 34px;
    line-height: 41px;
    color: rgba(0, 0, 0, 0.46);
}

.prompt-section .ask-button {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1180px;
    top: 450px;
    background: #FDD48E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.prompt-section textarea {
    position: absolute;
    width: 760px;
    height: 200px;
    left: 395px;
    top: 590px;
    background: #FFEDC2;
    border-radius: 7px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
} */